@font-face {
  src: url(./Assets/Fonts/Comfortaa-Regular.ttf);
  font-family: comfotaa;
}
@font-face {
  src: url(./Assets/Fonts/Shabnam.ttf);
  font-family: shabnam;
}

body {
  margin: 0;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  direction: rtl;
}
.right-menu {
  width: 43%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}
.right-menu-container {
  width: 53%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.entry-div {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
}
.entry-text {
  color: #0094ee;
  font-family: shabnam;
  font-size: 15pt;
  font-weight: bold;
}
.inputs-container {
  width: 100%;
  height: 76vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#refresh-icon {
  color: #7a7a7a;
}
.input-text-div {
  width: 100%;
  height: 130px;
}
.input-top-text {
  font-family: shabnam;
  font-size: 17pt;
}
.input-bottom-text {
  font-family: shabnam;
  font-size: 11pt;
  color: #9e9e9e;
}
.inputs {
  width: 100%;
  height: 170px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  direction: ltr;
}
.username-input {
  height: 17%;
  background-color: transparent;
  border: 0;
  outline-width: 0ch;
  border-bottom: 1px solid #bebebe;
  direction: rtl;
  font-family: shabnam;
  color: #0093ed;
  box-sizing: inherit;
  transition: 0.3s border-color;
  font-family: shabnam;
}
.username-input::placeholder {
  color: #bebebe;
  font-family: shabnam;
  font-size: 11pt;
  transition: 0.3s;
}
.username-input:focus {
  border-bottom: 2px solid #0093ed;
}
.username-input:focus::placeholder {
  color: #0093ed;
}
.password-input::placeholder {
  color: #bebebe;
  font-family: shabnam;
  font-size: 11pt;
}
.password-input:focus {
  border-bottom: 2px solid #0093ed;
}
.password-input:focus::placeholder {
  color: #0093ed;
}
.password-input {
  height: 17%;
  background-color: transparent;
  border: 0;
  outline-width: 0ch;
  border-bottom: 1px solid #bebebe;
  direction: rtl;
  color: #0093ed;
  transition: 0.3s border-color;
}
#icon1 {
  padding-left: 5px;
  position: relative;
  top: -17%;
  color: #bebebe;
  transition: 0.3s;
}
#icon2 {
  padding-left: 5px;
  position: relative;
  top: -17%;
  color: #bebebe;
  transition: 0.3s;
}
.username-input:focus ~ #icon1 {
  color: #0093ed;
}
.password-input:focus ~ #icon2 {
  color: #0093ed;
}
.security-div {
  height: 17%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.securityInput {
  height: 100%;
  width: 60%;
  direction: rtl;
  background-color: transparent;
  border: 0;
  outline-width: 0ch;
  border-bottom: 1px solid #bebebe;
  transition: 0.3s border-color;
}
.securityInput::placeholder {
  color: #bebebe;
  font-family: shabnam;
  font-size: 11pt;
  transition: 0.3s;
}
.securityInput:focus {
  border-bottom: 2px solid #0093ed;
}
.securityInput:focus::placeholder {
  color: #0093ed;
}
.security-img {
  height: 100%;
  width: 30%;
}
.submitButton {
  width: 100%;
  height: 50px;
  font-size: 13pt;
  font-family: shabnam;
  background-color: #0093ed;
  color: white;
  border: 0;
  outline-width: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.75);
  font-weight: 500;

  transition: 0.3s ease-out;
}
.submitButton:hover {
  opacity: 0.8;
}
#board-icon {
  color: #bebebe;
  position: relative;
  right: -25px;
  top: 5px;
  transition: 0.3s;
}

.securityInput:focus ~ #board-icon {
  color: #0093ed;
}
.button-div {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.remember-div {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: flex-end;
}

.remember-text {
  font-family: shabnam;
  color: #bebebe;
  font-size: 9pt;
  padding: 0;
  margin: 0;
}
.left-menu {
  width: 57%;
  height: 100vh;
  display: flex;
  background: rgb(140, 235, 202);
  background: linear-gradient(
    225deg,
    rgba(140, 235, 202, 1) 0%,
    rgba(118, 224, 210, 1) 6%,
    rgba(94, 212, 217, 1) 44%,
    rgba(21, 171, 245, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.logo-img {
  position: absolute;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0px 10px 20px rgb(179, 178, 178));
}
.angel-div {
  width: 100%;
  height: 100%;
  position: absolute;
}
.about-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
}
.about-text {
  font-size: 13pt;
  font-family: comfotaa;
  color: white;
  font-weight: bold;
}
.radar-angle {
  position: relative;
  opacity: 0.1;
  width: 20%;
  height: 80%;
  right: 30%;
  top: -30%;

  animation-name: angle;
  animation-duration: 8s;
  transform-origin: 0% 100%;
  animation-iteration-count: 100;
  animation-timing-function: linear;
}
.radar-circle {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.3;
  animation-name: circle;
  animation-duration: 9s;

  position: absolute;
  animation-iteration-count: 100;
}
.radar-circle2 {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.25;
  animation-name: circle;
  animation-duration: 9s;
  animation-delay: 0.6s;
  position: absolute;
  animation-iteration-count: 100;
}
.radar-circle3 {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.2;
  animation-name: circle;
  animation-duration: 9s;
  animation-delay: 1.2s;
  position: absolute;
  animation-iteration-count: 100;
}
.radar-circle4 {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.15;
  animation-name: circle;
  animation-duration: 9s;
  animation-delay: 1.8s;
  position: absolute;
  animation-iteration-count: 100;
}
.radar-circle5 {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.1;
  animation-name: circle;
  animation-duration: 9s;
  animation-delay: 2.4s;
  position: absolute;
  animation-iteration-count: 100;
}
.radar-circle6 {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.05;
  animation-name: circle;
  animation-duration: 9s;
  animation-delay: 3s;
  position: absolute;
  animation-iteration-count: 100;
}
.radar-circle7 {
  width: 10px;
  height: 10px;
  border-radius: 2000px;
  background-color: white;
  opacity: 0.01;
  animation-name: circle;
  animation-duration: 9s;
  animation-delay: 3.6s;
  position: absolute;
  animation-iteration-count: 100;
}

@keyframes circle {
  to {
    opacity: 0;
    width: 1400px;
    height: 1400px;
  }
}
@keyframes angle {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .container {
    display: unset;
  }
  .right-menu {
    width: 100%;
  }
  .left-menu {
    width: 100%;
  }
}
